# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
.venv/
venv/

# Git
.git/
.gitignore

# IDE
.vscode/
.idea/

# Node
node_modules/

# Environment
.env

# Python cache
.pytest_cache/
.mypy_cache/

# OS
.DS_Store
Thumbs.db

# Documentation inutile dans l'image
README.md